{% extends 'bakujobs/base/minimalBase.html' %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <form method="post" id="jobForm" class="form-horizontal" data-items-url="{% url 'ajax_load_items' %}">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input class="btn btn-outline-dark btn-lg btn-block" type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>

{% endblock %}
