{#{% extends "bakujobs/base/base.html" %}#}

{% block body %}
    <div class="job-grid-sec">
        <div class="row">
            {% for job in object_list %}
                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12 ml-3">
                    <div class="job-grid border">
                        <div class="job-title-sec pt-3">
                            <h3>
                                <a href="{{ job.get_absolute_url }}" title="">{{ job.job_title }}</a>
                            </h3>
                            <span>{{ job.category }} / {{ job.job_description }}</span>

                            <div class="job-style-bx">
                                <span class="job-is {{ job.job_type.slug }}">{{ job.job_type.name }}</span>
                            </div>
                        </div>

                        <span class="job-lctn">{{ job.location }}</span>
                        <a href="#" id="apply" title="">APPLY NOW</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}