<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" type="text/css" media="all" rel="stylesheet" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <!-- Bootstrap CSS
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->

    <!-- Template stuff -->
    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/employer/joblist.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static "css/theme/bootstrap-grid.css" %}" />
    <link rel="stylesheet" href="{% static "css/theme/icons.css" %}">
    <link rel="stylesheet" href="{% static "css/theme/animate.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/theme/style.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/theme/responsive.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/theme/chosen.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/theme/colors/colors.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/theme/bootstrap.css" %}" />
    <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css" />

</head>
<body>

{% block header %}
    {% include 'bakujobs/header.html' %}
{% endblock %}

{% block body %}
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function (e) {
            $("#my_radio_box").change(function (e) {
                var postDate = $("input[name='choose']:checked").val();
                console.log(postDate)
                $.ajax({
                    url: 'sorted/',
                    type: "GET",
                    data: {
                        'date': postDate
                    },
                    success: function (data) {
                        $(".job-list-modern").html(data);
                    },
                    error: function (xhr, errmsg, err) {
                        console.log(xhr, errmsg, err);
                    }
                });
            });
        });
    </script>
    <script>
        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
{% endblock %}

</body>
</html>
