
@media (max-width:1200px){
header {
    display: none !important;
}
.apply-alternative a {
    font-size: 13px;
    padding: 0 10px;
    width: 100%;
    text-align: center;
}

.apply-alternative a i{float: none;}

.apply-alternative span {
    padding: 0 15px;
    font-size: 13px;
}




}

@media (max-width:980px){
.column {
    float: left;
    width: 100%;
    margin-top: 50px;
}
.column:first-child {
    margin-top: 0px;
}
.block .container, .container {
    max-width: 100%;
    padding: 0 15px;
}
.container.fluid {
    padding: 0;
}
.border-right {
    border: none;
    padding: 0;
        padding-top: 0px;
    padding-top: 40px;
}
.job-search-sec {
    padding: 0 30px;
    width: 100%;
}
.job-search form {
    margin-top: 22px;
}



select {
    float: left;
    width: 100%;
    height: 61px;
    padding: 0 15px;
    border: 2px solid #e8ecec;
    font-size: 13px !important;
    color: #888888;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

}

.job-search .job-field {
    margin: 0 0 15px 0;

}
.job-search form button {
    height: 50px;
    padding: 0 0;
}
.job-title-sec {
    width: 57%;
}
.job-lctn {
    font-size: 12px;
}
.inner-header {
    padding-top: 100px;
}
.inner-header.wform .job-field {

    -webkit-border-radius: 0 0;
    -moz-border-radius: 0 0;
    -ms-border-radius: 0 0;
    -o-border-radius: 0 0;
    border-radius: 0 0;

}
.modrn-joblist {
    padding: 0;
}
.apply-alternative span {
    float: left;
    margin-left: 0px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.apply-alternative span i{float: none;}

.apply-alternative {
    padding-top: 10px;
    padding-bottom: 10px;
}
.extra-job-info{width: 100%;}

}

@media (max-width:767px){
.inner-header {
    padding-top: 150px;
}
.inner-header > h3 {
    font-size: 20px;
}
.border-right{border-right: none !important;}
.job-search-sec {
    top: 50%;
}
.job-title-sec {
    float: left;
    width: 100%;
    text-align: center;
    display: inline-block;
}
.job-title-sec h3 {
    float: left;
    width: 100%;
}
.job-title-sec span {
    float: left;
    width: 100%;
}
.job-grid .job-title-sec h3 {
    text-align: center;
}
.job-style-bx {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
        margin-top: 0px;
    padding: 0;
    margin-top: 9px;
    position: static;
}
.action-tags {
    width: 100%;
    margin-top: 20px;
}
.sortby-sec {
    float: left;
    margin-top: 20px;
    width: 100%;
}


}

@media (max-width:520px){
.job-thumb img {
    float: left;
    width: auto;
    margin-bottom: 20px;
}

.job-search-sec {
    float: left;
    width: 100%;
    position: static;
    padding: 70px 20px;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;

    background: rgb(139,145,221);
    background: -moz-linear-gradient(45deg,  rgba(139,145,221,1) 0%, rgba(16,25,93,1) 71%, rgba(16,25,93,1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(139,145,221,1)), color-stop(71%,rgba(16,25,93,1)), color-stop(100%,rgba(16,25,93,1)));
    background: -webkit-linear-gradient(45deg,  rgba(139,145,221,1) 0%,rgba(16,25,93,1) 71%,rgba(16,25,93,1) 100%);
    background: -o-linear-gradient(45deg,  rgba(139,145,221,1) 0%,rgba(16,25,93,1) 71%,rgba(16,25,93,1) 100%);
    background: -ms-linear-gradient(45deg,  rgba(139,145,221,1) 0%,rgba(16,25,93,1) 71%,rgba(16,25,93,1) 100%);
    background: linear-gradient(45deg,  rgba(139,145,221,1) 0%,rgba(16,25,93,1) 71%,rgba(16,25,93,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b91dd', endColorstr='#10195d',GradientType=1 );
    opacity: 0.9;

    margin: 0;
}

.job-head-info span {
    line-height: 20px;
}
.account-btns > li a {
    font-size: 12px;
}



}