<script type='text/javascript'>
/* <![CDATA[ */
var jobifySettings = {"ajaxurl":"https:\/\/jobify-demos.astoundify.com\/extended\/wp-admin\/admin-ajax.php","archiveurl":"https:\/\/jobify-demos.astoundify.com\/extended\/jobs\/","i18n":{"magnific":{"tClose":"Close","tLoading":"Loading...","tError":"The content could not be loaded."}},"pages":{"is_job":false,"is_resume":false,"is_testimonials":false},"widgets":{"jobify_widget_companies":{"autoPlay":false},"jobify_widget_testimonials":{"slidesToShow":4}}};
/* ]]> */
</script>
<script type='text/javascript' src='some.js'></script>

